html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    flex-shrink: 0; /* Evita que el navbar cambie de tamaño */
  }
  
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem; /* Agrega padding si es necesario */
  }
  


@media (max-width: 768px) {
    .lista {
        /* --bs-nav-link-padding-x: 0; */
        --bs-nav-link-padding-y: 0.5rem;
        --bs-nav-link-font-weight: ;
        --bs-nav-link-color: var(--bs-navbar-color);
        --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
        --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
  }

/* Contenedor para la imagen de separador */
.separator-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Estilo para la imagen de separador */
  .separator-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    height: auto;
    /* margin-top: 25px; */
    margin-right: 0;
    margin-left: 0;
    /* margin-bottom: 25px; */
    padding: 0;
    display: block;
    box-sizing: border-box;
  }

/* imagen portada inicial */
  .responsive-image {
    width: 100%; /* Ajusta el tamaño de la imagen para que sea 100% del contenedor por defecto */
    max-width: 300px; /* Ajusta este valor para escritorio */
  }
  .responsive-image-carrusel{
    width: 100%; /* Ajusta el tamaño de la imagen para que sea 100% del contenedor por defecto */
    max-width: 300px; /* Ajusta este valor para escritorio */
    min-width: 300px;
  }
  /* Estilos específicos para vista de escritorio */
  @media (min-width: 769px) {
    .responsive-image {
      max-width: 450px; /* Ajusta este valor para escritorio */
    }
  }
  
  /* Estilos específicos para vista móvil */
  @media (max-width: 768px) {
    .responsive-image {
      max-width: 300px; /* Ajusta este valor para móvil */
    }
  }

  /* Clase para la sección de pantalla completa */
.full-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 88vh; /* Altura mínima igual a la altura de la ventana del navegador */
    max-height: 100vh;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
  }

  @media (max-width: 768px) {
    .full-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Altura mínima igual a la altura de la ventana del navegador */
        max-height: 100vh;
        padding: 20px;
        text-align: center;
      }
  }

  .large-number {
    font-size: 5em; /* Ajusta el tamaño de la fuente según tus necesidades */
    /* font-weight: bold; Si quieres que el número sea negrita */
  }

  .centered-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px; /* Ajusta el padding según sea necesario */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
  }
  .custom-connector .e-timeline-item.e-connector::after {
    border-color: #2a68e6;
    border-width: 1.4px;
    
}

.dot-color .e-dot {
    /* background: #152146 ; */
    /* outline: 1px dashed #152146; */
    border-color: #152146;
}
.card-title{
    font-family: "Parisienne";
    font-weight: 600;
    font-style: normal;
    font-size: xxx-large;

}


.card-body{
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25vw;
}

.alex-brush-regular {
    font-family: "Alex Brush", inherit;
    font-weight: 400;
    font-style: normal;
    color: #B38B5A;
    font-size: 3vw;
}

.section2{
    background-image:url('../../../assets/fondo4.png') ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    border-color: #96c7fa;
    border-width: 14px; color: #326e92;
}
.contenedor-carta{
    width: 100%;
}
@media (max-width: 768px) {
    .contenedor-carta {
      max-width: 100%; /* Ajusta este valor para móvil */
    }
  }

  @media (min-width: 769px) {
    .contenedor-carta {
      max-width: 30%; /* Ajusta este valor para escritorio */
    }
  }

  .nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
  }

  .playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 4vw;
  }